@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --font-pacifico: Pacifico, cursive;
  --font-lobster: Lobster, cursive;
}

.font-pacifico {
  font-family: var(--font-pacifico);
}

.font-lobster {
  font-family: var(--font-lobster);
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}